In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra  # Importing necessary libraries
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)  # Importing necessary libraries
import seaborn as sns  # Importing necessary libraries
import matplotlib.pyplot as plt  # Importing necessary libraries
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os  # Importing necessary libraries
for dirname, _, filenames in os.walk('/kaggle/input'):  # Processing data
    for filename in filenames:  # Processing data
        print(os.path.join(dirname, filename))  # Processing data
import warnings  # Importing necessary libraries
warnings.simplefilter(action='ignore', category=FutureWarning)  # Processing data



# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
df=pd.read_csv("/kaggle/input/dataset-netflix-shows-updated/netflix_data_updated.csv")  # Reading data from a CSV file into a Pandas DataFrame

In [ ]:
df.head()  # Display the first few rows of the dataset

In [ ]:
df.sample(15)  # Processing data

In [ ]:
df.info()  # Get dataset information (columns, types, non-null values)

In [ ]:
sns.heatmap(df.isna())  # Visualizing missing values or correlations using a heatmap

In [ ]:
df['title'].unique()  # Returns an array of unique movie/show titles in the dataset

1. **The Columns of show_id is Not important**

In [ ]:
df.loc[df['title'].isnull()]  # Returns all rows where the 'title' column has missing (NaN) values

In [ ]:
df.drop(5397, inplace=True)  # Removes the row with index 5397 from the DataFrame

In [ ]:
df.drop(columns=['show_id'], inplace=True)  # Removes the 'show_id' column from the DataFrame

In [ ]:
df[df['type'].isna()]  # Returns all rows where the 'type' column has missing (NaN) values

In [ ]:
if df['type'].dtype == 'object':  
    df.loc[df['type'].isna(), 'type'] = np.random.choice(["TV Show", "Movie"], size=df['type'].isna().sum())  # Filling missing 'type' values randomly
else:  
    print("Error: Unexpected data type in 'type' column")  # Handling unexpected data types

In [ ]:
df.isna().sum() / len(df) * 100  # Calculates the percentage of missing values for each column

In [ ]:
df['type'].iloc[4656]  # Retrieves the value in the 'type' column at index 4656

In [ ]:
df['type'].iloc[2182] # Retrieves the value in the 'type' column at index 2182

In [ ]:
df['type'].value_counts(normalize=True)*100  # Counting unique values in a column

In [ ]:
df.isna().sum()/len(df)*100  # Calculates the percentage of missing values for each column

In [ ]:
df['director'].isna().sum()  # Counts the number of missing (NaN) values in the 'director' column

In [ ]:
df[df['director'].isna()]  # Returns all rows where the 'director' column has missing (NaN) values

In [ ]:
df['director'].fillna(method='ffill',inplace=True)  # Filling missing values with appropriate replacements
df

In [ ]:
df.isna().sum()  # Counts the number of missing (NaN) values in each column of the DataFrame

In [ ]:
# plt.figure(figsize=(50, 25))
# actor_counts = df['director'].value_counts()
# sns.barplot(x=actor_counts.index, y=actor_counts.values, palette="rainbow")

In [ ]:
df['director'].value_counts()  # Counting unique values in a column

In [ ]:
# df[df['cast'].isna()]

In [ ]:
df['cast'].value_counts()  # Counting unique values in a column

In [ ]:
df['cast'].fillna(method='backfill',inplace=True)  # Filling missing values with appropriate replacements
df  # Processing data

In [ ]:
df['cast'].isna().sum()

In [ ]:
df.isna().sum()/len(df)*100

In [ ]:
df[df['country'].isna()]  # Returns all rows where the 'country' column has missing (NaN) values

In [ ]:
df['country'].fillna(method='ffill',inplace=True)  # Filling missing values with appropriate replacements
df

In [ ]:
df.isna().sum()/len(df)*100

In [ ]:
df['date_added']=pd.to_datetime(df['date_added'])  # Converting column to datetime format

In [ ]:
df.info()  # Get dataset information (columns, types, non-null values)

In [ ]:
df  #Show data

In [ ]:
df['year_added'] = df['date_added'].dt.year  # Extracting the year from a datetime column
df['month_added'] = df['date_added'].dt.month  #  Extracting the month from a datetime column
df['Hour_added']=df['date_added'].dt.hour  #  Extracting the Hour from a datetime column

In [ ]:
df

In [ ]:
df.drop(columns='Hour_added', inplace=True)  # Removes the 'Hour_added' column from the DataFrame

In [ ]:
df

In [ ]:
def get_season(month):  
    """Returns the season name based on the given month number."""
    
    if month in [12, 1, 2]:  
        return 'Winter'  # December, January, February
    elif month in [3, 4, 5]:  
        return 'Spring'  # March, April, May
    elif month in [6, 7, 8]:  
        return 'Summer'  # June, July, August
    elif month in [9, 10, 11]:  
        return 'Autumn'  # September, October, November
    
    return None  # Returns None if the input is invalid

In [ ]:
df['season'] = df['month_added'].apply(get_season)  # Assigns a season based on the 'month_added' column

In [ ]:
df

In [ ]:
season_order = ['Winter', 'Spring', 'Summer', 'Autumn'] 

sns.countplot(data=df, x='season', order=season_order, palette='coolwarm')  # Creating a count plot to visualize categorical data distribution

In [ ]:
df['year_added'].value_counts().nlargest(1).reset_index()  # Counting unique values in a column

In [ ]:
df['year_added'].value_counts().idxmax()  # Counting unique values in a column

In [ ]:
df['rating'].value_counts().nlargest(1).reset_index()  # Counting unique values in a column

In [ ]:
df['type'].value_counts()  # Counting unique values in a column

In [ ]:
sns.pairplot(df,hue='type',palette='coolwarm')  # Processing data

In [ ]:
sns.countplot(data=df, x='type', palette='coolwarm')  # Creating a count plot to visualize categorical data distribution

In [ ]:
country_counts = df['country'].value_counts().reset_index()  # Counts occurrences of each country
country_counts.columns = ['Country', 'Count']  # Renames columns for clarity

top_countries = country_counts.nlargest(10, 'Count')  # Selects the top 10 countries with the most occurrences
top_countries  # Displays the result

In [ ]:
plt.figure(figsize=(10, 6))  # Sets the figure size for better visibility

sns.barplot(data=top_countries, x='Count', y='Country', palette='viridis')  
# Creates a horizontal bar plot to compare the number of shows/movies per country

plt.xticks(rotation=45)  # Rotates x-axis labels for better readability (though not needed for a horizontal bar plot)
plt.grid(axis='x', linestyle='--', alpha=0.7)  # Adds a dashed grid on the x-axis for better readability

plt.show()  # Displays the plot

In [ ]:
rating_counts = df['rating'].value_counts().reset_index()  # Counts occurrences of each rating
rating_counts.columns = ['Rate', 'Count']  # Renames columns for clarity

top_rating = rating_counts.nlargest(10, 'Count')  # Selects the top 10 most frequent ratings
top_rating  # Displays the result

In [ ]:
plt.figure(figsize=(10, 6))  # Sets the figure size for better visualization

sns.pointplot(data=top_rating, x='Rate', y='Count', color='red', linestyles='--')  
# Creates a point plot to show trends in content ratings

plt.xticks(rotation=45)  # Rotates x-axis labels for better readability
plt.grid(True)  # Adds a grid for better visualization

plt.show()  # Displays the plot

In [ ]:
movies_df = df[df['type'] == 'Movie']  # Filters only movies from the dataset

top_directors = movies_df['director'].value_counts().nlargest(10).reset_index()  
# Counts occurrences of each director and selects the top 10

top_directors.columns = ['Director', 'Movie Count']  # Renames columns for clarity

top_directors  # Displays the result

In [ ]:
plt.figure(figsize=(20, 10))  # Sets the figure size for better visibility

sns.lineplot(data=top_directors, x='Director', y='Movie Count', marker='o', linestyle='-', color='purple')  
# Creates a line plot with markers to visualize the number of movies per director

plt.grid()  # Adds a grid for better readability
plt.xticks(rotation=45)  # Rotates x-axis labels for better readability
plt.xlabel("Director")  # Adds label to the x-axis
plt.ylabel("Movie Count")  # Adds label to the y-axis
plt.title("Top 10 Directors by Movie Count")  # Sets the title of the plot

plt.show()  # Displays the plot

In [ ]:
plt.figure(figsize=(12, 6))  # Sets the figure size for better visibility

sns.countplot(y=df['rating'], palette='magma', order=df['rating'].value_counts().index)  
# Creates a horizontal bar chart showing the distribution of content ratings

plt.title('Distribution of Content Ratings')  # Sets the title of the plot
plt.xlabel("Count")  # Labels the x-axis
plt.ylabel("Rating")  # Labels the y-axis
plt.grid(axis='x', linestyle='--', alpha=0.7)  # Adds a light grid for better readability

plt.show()  # Displays the plot